# Frontend Next.js - Environment Variables Example

# URL de comunicação com o nosso parceiro Back-end (FastAPI)
NEXT_PUBLIC_API_URL="http://localhost:8000/api/v1"

# Credencial Pública do Google OAuth necessária para o botão "Entrar com Google" no Next.js
NEXT_PUBLIC_GOOGLE_CLIENT_ID="seu_google_client_id.apps.googleusercontent.com"
